<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hitopo.mapper.UserMapperXML">

    <select id="findAll" resultType="com.hitopo.entity.User">
        SELECT *
        FROM user
    </select>

    <select id="findOneById" resultType="com.hitopo.entity.User">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="com.hitopo.entity.User">
        INSERT INTO user(username, password, create_time)
        VALUES (#{username}, #{password}, #{createTime})
    </insert>

    <update id="update" parameterType="com.hitopo.entity.User">
        UPDATE user
        SET username=#{username},
            password=#{password}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>

</mapper>